<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blessing Ingyape | Home</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const copyrightYearElement = document.getElementById("copyright-year");
          const currentYear = new Date().getFullYear();
          copyrightYearElement.textContent = currentYear;
      });
    </script>
  </head>
  <body class="bg-[#FAF5EE] dark:bg-gray-900">
    <div class="antialiased bg-[#FAF5EE] dark:bg-gray-900">
      <!-- Navbar -->
      <nav
        class="bg-[#FAF5EE] border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50 shadow-sm"
      >
        <div
          class="flex justify-between items-center mx-auto md:justify-center"
        >
          <button
            data-drawer-target="drawer-navigation"
            data-drawer-toggle="drawer-navigation"
            aria-controls="drawer-navigation"
            class="p-2 mr-2 text-gray-600 rounded-lg cursor-pointer md:hidden hover:text-gray-900 hover:bg-gray-300 focus:bg-gray-300 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-400 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <svg
              aria-hidden="true"
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <svg
              aria-hidden="true"
              class="hidden w-6 h-6"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Toggle sidebar</span>
          </button>
          <a href="#" class="flex items-center justify-center mr-2 gap-x-1.5">
            <span class="self-center text-2xl text-gray-900 font-Title font-semibold whitespace-nowrap dark:text-white">
              Blessing_Ingyape
            </span>

            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 19">
              <path d="M15 5a1 1 0 0 0-1 1v3a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V6a1 1 0 0 0-2 0v3a6.006 6.006 0 0 0 6 6h1v2H5a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2H9v-2h1a6.006 6.006 0 0 0 6-6V6a1 1 0 0 0-1-1Z"/>
              <path d="M9 0H7a3 3 0 0 0-3 3v5a3 3 0 0 0 3 3h2a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3Z"/>
            </svg>
          </a>
        </div>
      </nav>

      <!-- Sidebar -->

      <aside
        class="fixed top-0 left-0 z-40 w-64 h-screen pt-8 transition-transform -translate-x-full bg-[#FAF5EE] border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Sidenav"
        id="drawer-navigation"
      >
        <div
          class="overflow-y-auto py-5 px-3 h-full bg-[#FAF5EE] dark:bg-gray-800"
        >
          <ul class="space-y-2">
            <!-- dp -->
            <li>
              <!--dp-->
              <div class="flex flex-col w-full items-center space-y-1">
                <!--Profile pic-->
                <div class="flex w-52 h-5w-52 p-4 items-center justify-center">
                  <img src="/images/dp.png" alt="Potrait of Judith" class="w-full h-full rounded-full">
                </div>
                  <!--Name-->
                  <h1 class="text-gray-900 dark:text-white font-bold text-lg text-center">
                    Blessing Ingyape
                  </h1>

                  <!--Tag-->
                  <h4 class="text-gray-600 dark:text-gray-400 font-semibold font-Title text-sm text-center">
                    CEO | Dyslexia Africa
                  </h4>
              </div>
            </li>       
          </ul>

          <ul
            class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700"
          >
            <li>
              <a
                data-target="home"
                class="btn cursor-pointer flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
              >
                <svg
                  data-target="home"
                  aria-hidden="true"
                  class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                  <path
                    fill-rule="evenodd"
                    d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span data-target="home" class="ml-3">Home</span>
              </a>
            </li>
            <li>
              <a
                data-target="about"
                class="btn cursor-pointer flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
              >
                <svg
                  data-target="about"
                  aria-hidden="true"
                  class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
                  ></path>
                </svg>
                <span data-target="about" class="ml-3">About</span>
              </a>
            </li>
            <li>
              <a
                data-target="skills"
                class="btn cursor-pointer flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
              >
                <svg
                  data-target="skills"
                  aria-hidden="true"
                  class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span data-target="skills" class="ml-3">Skills</span>
              </a>
            </li>
            <li>
              <a
                data-target="resume"
                class="btn cursor-pointer flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
              >
                <svg
                  data-target="resume"
                  aria-hidden="true"
                  class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                  <path
                    fill-rule="evenodd"
                    d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span data-target="resume" class="ml-3">Resume`</span>
              </a>
            </li>
            <li>
              <a
                data-target="courses"
                class="btn cursor-pointer flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
              >
                <svg
                  data-target="courses"
                  aria-hidden="true"
                  class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
                  ></path>
                </svg>
                <span data-target="courses" class="ml-3">Courses</span>
              </a>
            </li>
            <li>
              <a
                data-target="testimonies"
                class="btn cursor-pointer flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
              >
                <svg
                  data-target="testimonies"
                  aria-hidden="true"
                  class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span data-target="testimonies" class="ml-3">Testimonies</span>
              </a>
            </li>
            <li>
              <a
                data-target="contact"
                class="btn cursor-pointer flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
              >
                <svg
                  data-target="contact"
                  aria-hidden="true"
                  class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span data-target="contact" class="ml-3">Contact</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- Footer -->
        <div
          class="absolute bottom-0 left-0 justify-center items-center mx-auto p-4 space-y-1 w-full flex flex-col bg-[#fbf0e1] dark:bg-gray-900 z-20"
        >
          <p
            class="text-gray-500 text-center font-normal text-[12px] dark:text-white"
          >
          &copy; <span id="copyright-year"></span> Blessing Ingyape
          </p>

          <p
            class="text-gray-500 text-center font-normal text-[12px] dark:text-white"
          >
            All rights reserved.
          </p>
        </div>
      </aside>

      <main id="home" class="p-4 md:ml-64 h-auto pt-24">
        <!-- Home -->
        <div
          
          class="max-w-3xl flex flex-col space-y-4 justify-center ites-center mx-auto px-4"
        >
          <h1
            class="text-7xl md:text-[90px] text-[#1c1c1c] text-center font-extrabold font-primary dark:text-white"
          >
            The Dyslexia Coach
          </h1>

          <div class="flex space-x-2 items-center justify-center mx-auto">
            <img
              class="w-14 h-14 rounded-full border-4 border-gray-600"
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png"
              alt="user photo"
            />
            <span
              class="ml-3 text-center text-xl text-gray-900 font-medium font-sans dark:text-white"
              >Blessing Ingyape</span
            >
          </div>
        </div>

        <!-- Form Submission alert -->
        <% if (pop === 2) { %>
            <!-- Success -->
            <div id="success-alert" tabindex="-1" aria-hidden="true" class="alert success-alert overflow-y-auto overflow-x-hidden absolute mx-auto pt-20 top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                    <!-- Modal content -->
                    <div class="relative p-5 text-center rounded-lg shadow bg-green-900 bg-opacity-50 md:p-4">
                        <button id="flashx" onclick="closeAlert('success-alert')" type="button" class="text-white absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="deleteModal">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                        <div class="flex gap-x-4 justify-center items-center pt-5">
                            <svg class="w-[44px] h-[44px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                            </svg>
                            <p class="text-white">Message Successfully arrived Judy's box.</p>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        <% } %>

        <% if (pop === 1) { %>
            <!-- Failure -->
            <div id="error-alert" tabindex="-1" aria-hidden="true" class="alert error-alert overflow-y-auto overflow-x-hidden absolute mx-auto pt-20 top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                    <!-- Modal content -->
                    <div class="relative p-5 text-center rounded-lg shadow bg-green-900 bg-opacity-50 md:p-4">
                        <button id="flashx" onclick="closeAlert('error-alert')" type="button" class="text-white absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="deleteModal">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                        <div class="flex gap-x-4 justify-center items-center pt-5">
                            <svg class="w-[45px] h-[45px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
                            </svg>
                            <p class="text-white">Sorry! An error occurred. Please try again.</p>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        <% } %>

        <!-- Board Picture -->
        <div
          class="max-w-3xl px-4 flex items-center justify-center mx-auto overflow-hidden mt-10"
        >
          <img
            class="w-full rounded-lg shadow-xl dark:shadow-gray-800 md:h-96"
            src="/images/sample.jpg"
            alt="image description"
          />
        </div>

        <!-- About me -->
        <div id="about" class="py-8 px-4 mx-auto max-w-3xl md:py-16 md:px-6">
          <div class="max-w-3xl text-gray-500 sm:text-lg dark:text-gray-400">
            <h2
              class="mb-4 text-4xl tracking-normal font-Title font-extrabold underline text-gray-900 dark:text-white"
            >
              About Me
            </h2>
            <p class="mb-4 font-light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean
              et tortor at risus viverra.
            </p>
            <p class="mb-4 font-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean
              et tortor at risus viverra.
            </p>
            <a
              href="#"
              class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700"
            >
              Learn more
              <svg
                class="ml-1 w-6 h-6"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </a>
          </div>
        </div>

        <hr class="h-px max-w-3xl mx-auto my-4 bg-gray-300 border-0 dark:bg-gray-700" />

        <!-- Skills -->
        <div id="skills" class="py-8 px-4 mx-auto max-w-3xl md:py-16 md:px-6">
          <h2
              class="mb-4 text-4xl tracking-normal font-Title font-extrabold underline text-gray-900 dark:text-white"
            >
              Skills
          </h2>
          
          <!-- Stars -->
          <div class="flex items-center mb-2">
            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-gray-300 mr-1 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <p class="ml-2 text-sm font-medium text-gray-900 dark:text-white">4.95 out of 5</p>
          </div>


          <p class="text-sm font-medium text-gray-500 dark:text-gray-400">My current Skill levels. <a href="http://" class="font-bold text-gray-800 dark:text-blue-700 hover:underline">See Testimonies &darr;</a></p>
          
          <!-- ratings -->

          <!-- Coaching -->
          <div class="flex space-x-4 items-center mt-4">
            <span  class="text-sm font-bold text-gray-500 dark:text-gray-400">Coaching</span>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                <div class="h-5 bg-yellow-300 rounded" style="width: 90%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">90%</span>
          </div>

          <!-- Public Speaking -->
          <div class="flex space-x-4 items-center mt-4">
            <span  class="text-sm font-bold text-gray-500 dark:text-gray-400">Public Speaking</span>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                <div class="h-5 bg-yellow-300 rounded" style="width: 85%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">85%</span>
          </div>

          <!-- Teaching -->
          <div class="flex space-x-4 items-center mt-4">
            <span  class="text-sm font-bold text-gray-500 dark:text-gray-400">Teaching</span>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                <div class="h-5 bg-yellow-300 rounded" style="width: 100%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">100%</span>
          </div>

          <!-- Leadership -->
          <div class="flex space-x-4 items-center mt-4">
            <span  class="text-sm font-bold text-gray-500 dark:text-gray-400">Leadership</span>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                <div class="h-5 bg-yellow-300 rounded" style="width: 95%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">95%</span>
          </div>

          <!-- Management -->
          <div class="flex space-x-4 items-center mt-4">
            <span  class="text-sm font-bold text-gray-500 dark:text-gray-400">Management</span>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                <div class="h-5 bg-yellow-300 rounded" style="width: 70%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">70%</span>
          </div>   
        </div>

        <hr class="h-px max-w-3xl mx-auto my-4 bg-gray-300 border-0 dark:bg-gray-700" />

        <!-- Resume` -->
        <div id="resume" class="py-8 px-4 mx-auto max-w-3xl md:py-16 md:px-6">
          <section class="antialiased">
            <div class="max-w-screen-xl mx-auto">
              <div class="max-w-3xl mx-auto">
                <h2 class="text-4xl font-extrabold font-Title leading-tight tracking-tight text-gray-900 dark:text-white">
                  Resume`
                </h2>
                
                <!-- Descp -->
                <div class="mt-4">
                  <p class="text-lg font-medium text-gray-600 dark:text-gray-500">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>

              
          
              <div class="flow-root ml-5 max-w-3xl mx-auto mt-8 space-y-4">
                <!-- Experience -->
                <div class="max-w-3xl mx-auto">
                  <h2 class="text-2xl font-medium leading-tight tracking-tight text-gray-900 dark:text-white border border-gray-900 dark:border-white rounded-md px-2 w-fit shadow-xl dark:shadow-gray-800">
                    Experience
                  </h2>
                </div>
                
                
                <div class="-my-4 divide-y divide-gray-300 dark:divide-gray-700">
                  <!-- 1 -->
                  <div class="flex flex-col space-y-1 py-4 gap-2">
                    <p class="w-full text-sm font-medium text-gray-500 dark:text-gray-400 shrink-0">
                      &SmallCircle; Nov 2010 - Dec 2013 | Gboko, Nigeria.
                    </p>
                    <h3 class="text-xl font-semibold font-primary text-gray-900 dark:text-white">
                      <p>Dyslexia Coach | <a href="#" class="hover:underline">A to Z Learning Center</a></p>
                    </h3>

                    <p class="text-lg font-normal text-gray-600 dark:text-gray-500">
                      In my role as a Dyslexia Coach at A to Z Learning Center, I conducted personalized dyslexia assessments to identify each student's unique strengths and challenges.
                    </p>
                  </div>

                  <!-- 2 -->
                  <div class="flex flex-col space-y-1 py-4 gap-2">
                    <p class="w-full text-sm font-medium text-gray-500 dark:text-gray-400 shrink-0">
                      &SmallCircle; Jan 2014 - Oct 2015 | Makurdi, Nigeria.
                    </p>
                    <h3 class="text-xl font-semibold font-primary text-gray-900 dark:text-white">
                      <p>Lead Dyslexia Specialist | <a href="#" class="hover:underline">Bright Minds School</a></p>
                    </h3>

                    <p class="text-lg font-normal text-gray-600 dark:text-gray-500">
                      At Bright Minds School, I took on the role of Lead Dyslexia Specialist, where I led a team of dyslexia coaches and specialists to provide comprehensive support. I was responsible for designing and delivering professional development sessions for teachers, enabling them to create dyslexia-friendly classrooms. 
                    </p>
                  </div>

                  <!-- 3 -->
                  <div class="flex flex-col space-y-1 py-4 gap-2">
                    <p class="w-full text-sm font-medium text-gray-500 dark:text-gray-400 shrink-0">
                      &SmallCircle; Nov 2015 - Jan 2020 | Lagos, Nigeria.
                    </p>
                    <h3 class="text-xl font-semibold font-primary text-gray-900 dark:text-white">
                      <p>Learning Support Coordinator | <a href="#" class="hover:underline">Horizon Academy</a></p>
                    </h3>

                    <p class="text-lg font-normal text-gray-600 dark:text-gray-500">
                      In my capacity as Learning Support Coordinator at Horizon Academy, I managed the learning support department, overseeing the creation and implementation of individualized education plans for students with dyslexia. Through conducting regular assessments, I closely tracked students' progress, ensuring interventions were adapted as needed.
                    </p>
                  </div>

                  <!-- 4 -->
                  <div class="flex flex-col space-y-1 py-4 gap-2">
                    <p class="w-full text-sm font-medium text-gray-500 dark:text-gray-400 shrink-0">
                      &SmallCircle; March 2020 - Present | Abuja, Nigeria.
                    </p>
                    <h3 class="text-xl font-semibold font-primary text-gray-900 dark:text-white">
                      <p>Dyslexia Tutor | <a href="#" class="hover:underline">CEDAC Academy</a></p>
                    </h3>

                    <p class="text-lg font-normal text-gray-600 dark:text-gray-500">
                      My role as a Dyslexia Tutor at CEDAC Academy involved providing targeted one-on-one tutoring sessions to students with dyslexia. My focus was on developing engaging lesson plans that encompassed visual, auditory, and kinesthetic learning techniques, aiming to strengthen their foundational reading skills. By establishing effective communication with parents, I facilitated the creation of structured at-home practice routines and techniques that supported students' progress. Continual monitoring of student performance allowed me to adapt instruction strategies to their evolving needs, resulting in enhanced learning outcomes.
                    </p>
                  </div>
                </div>

                <!-- Education -->
                <div class="max-w-3xl mx-auto">
                  <h2 class="text-2xl font-medium leading-tight tracking-tight text-gray-900 dark:text-white border border-gray-900 dark:border-white rounded-md px-2 w-fit shadow-xl dark:shadow-gray-800">
                    Education
                  </h2>
                </div>


                <div class="-my-4 divide-y divide-gray-200 dark:divide-gray-700">
                  <!-- 1 -->
                  <div class="flex flex-col space-y-1 py-4 gap-2">
                    <p class="w-full text-sm font-medium text-gray-500 dark:text-gray-400 shrink-0">
                      &SmallCircle; University of Michigan | USA | 2022.
                    </p>
                    <h3 class="text-xl font-semibold font-primary text-gray-900 dark:text-white">
                      <p><a href="#" class="hover:underline">Master's Degree | </a>Special Education</p>
                    </h3>

                    <p class="text-lg font-normal text-gray-600 dark:text-gray-500">
                      GPA: 3.96 | Summa Cum Laude | Dean's List (High Honors) | Helen P. Denit Honors Scholor | National Society of Leadership and Success Honor Society Member | Postgraduate Researcher (Turner Research Award Recipient) | Featherstone Award Recipient.
                    </p>
                  </div>

                  <!-- 2 -->
                  <div class="flex flex-col space-y-1 py-4 gap-2">
                    <p class="w-full text-sm font-medium text-gray-500 dark:text-gray-400 shrink-0">
                      &SmallCircle; Benue State University | Nigeria | 2015.
                    </p>
                    <h3 class="text-xl font-semibold font-primary text-gray-900 dark:text-white">
                      <p><a href="#" class="hover:underline">Bachelor's Degree | </a>Mathematics Education</p>
                    </h3>

                    <p class="text-lg font-normal text-gray-600 dark:text-gray-500">
                      GPA: 4.53 | Summa Cum Laude | Dean's List (High Honors) | Helen P. Denit Honors Scholor | National Society of Leadership and Success Honor Society Member | Postgraduate Researcher (Turner Research Award Recipient) | Featherstone Award Recipient.
                    </p>
                  </div>
                </div>

                <!-- Certification -->
                <div class="max-w-3xl mx-auto">
                  <h2 class="text-2xl font-medium leading-tight tracking-tight text-gray-900 dark:text-white border border-gray-900 dark:border-white rounded-md px-2 w-fit shadow-xl dark:shadow-gray-800">
                    Certification
                  </h2>
                </div>

                <div class="-my-4 divide-y divide-gray-200 dark:divide-gray-700">
                  <!-- 1 -->
                  <div class="flex flex-col space-y-1 py-4 gap-2">
                    <p class="w-full text-lg font-medium text-gray-500 dark:text-gray-400 shrink-0">
                      &SmallCircle; 2022.
                    </p>
                    <h3 class="text-xl font-semibold font-primary text-gray-900 dark:text-white">
                      <p><a href="#" class="hover:underline">Certified Dyslexia Specialist (CDS) | </a>[Certification Authority]</p>
                    </h3>
                  </div>

                  <!-- 2 -->
                  <div class="flex flex-col space-y-1 py-4 gap-2">
                    <p class="w-full text-lg font-medium text-gray-500 dark:text-gray-400 shrink-0">
                      &SmallCircle; 2021.
                    </p>
                    <h3 class="text-xl font-semibold font-primary text-gray-900 dark:text-white">
                      <p><a href="#" class="hover:underline">Orton-Gillingham Practitioner Certification | </a>[Certification Authority]</p>
                    </h3>
                  </div>

                  <!-- 3 -->
                  <div class="flex flex-col space-y-1 py-4 gap-2">
                    <p class="w-full text-lg font-medium text-gray-500 dark:text-gray-400 shrink-0">
                      &SmallCircle; 2020.
                    </p>
                    <h3 class="text-xl font-semibold font-primary text-gray-900 dark:text-white">
                      <p><a href="#" class="hover:underline">Certified Dyslexia Specialist (CDS) | </a>[Certification Authority]</p>
                    </h3>
                  </div>

                  <!-- 4 -->
                  <div class="flex flex-col space-y-1 py-4 gap-2">
                    <p class="w-full text-lg font-medium text-gray-500 dark:text-gray-400 shrink-0">
                      &SmallCircle; 2019.
                    </p>
                    <h3 class="text-xl font-semibold font-primary text-gray-900 dark:text-white">
                      <p><a href="#" class="hover:underline">Orton-Gillingham Practitioner Certification | </a>[Certification Authority]</p>
                    </h3>
                  </div>
                </div>

              </div>
            </div>
          </section>
        </div>

        <hr class="h-px max-w-3xl mx-auto my-4 bg-gray-300 border-0 dark:bg-gray-700" />

        <!-- Courses -->
        <div id="courses" class="py-8 px-4 mx-auto max-w-screen-xl md:py-16 md:px-6">
          <div class="">
            <h2
              class="mb-4 md:text-center text-4xl tracking-normal font-Title font-extrabold underline text-gray-900 dark:text-white"
            >
              My Courses
            </h2>
          </div>

          <section class="">
            <div class="py-8 px-4 mx-auto max-w-screen-xl">
              <!-- Titles -->
              <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-xl tracking-tight font-semibold font-sans text-gray-900 dark:text-white">Designed for Anyone with Learning Difficulties</h2>
                <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
              <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
                <!-- Pricing Card 1-->
                <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-gray-100 rounded-lg border border-gray-300 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                    <h3 class="mb-4 text-2xl font-semibold">Starter</h3>
                    <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Best option for personal use & for your next project.</p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$29</span>
                        <span class="text-gray-500 dark:text-gray-400">/month</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Individual configuration</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>No setup, or hidden fees</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Team size: <span class="font-semibold">1 developer</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Premium support: <span class="font-semibold">6 months</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Free updates: <span class="font-semibold">6 months</span></span>
                        </li>
                    </ul>
                    <a href="#" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-blue-900">Buy on Selar</a>
                </div>
                <!-- Pricing Card 2-->
                <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-gray-100 rounded-lg border border-gray-300 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                    <h3 class="mb-4 text-2xl font-semibold">Company</h3>
                    <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Relevant for multiple users, extended & premium support.</p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$99</span>
                        <span class="text-gray-500 dark:text-gray-400" dark:text-gray-400>/month</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Individual configuration</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>No setup, or hidden fees</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Team size: <span class="font-semibold">10 developers</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Premium support: <span class="font-semibold">24 months</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Free updates: <span class="font-semibold">24 months</span></span>
                        </li>
                    </ul>
                    <a href="#" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-blue-900">Buy on Selar</a>
                </div>
                <!-- Pricing Card 3 -->
                <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-gray-100 rounded-lg border border-gray-300 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                    <h3 class="mb-4 text-2xl font-semibold">Enterprise</h3>
                    <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Best for large scale uses and extended redistribution rights.</p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$499</span>
                        <span class="text-gray-500 dark:text-gray-400">/month</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Individual configuration</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>No setup, or hidden fees</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Team size: <span class="font-semibold">100+ developers</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Premium support: <span class="font-semibold">36 months</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Free updates: <span class="font-semibold">36 months</span></span>
                        </li>
                    </ul>
                    <a href="#" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-blue-900">Buy on Selar</a>
                </div>
              </div>
            </div>
          </section>
        </div>

        <hr class="h-px max-w-3xl mx-auto my-4 bg-gray-300 border-0 dark:bg-gray-700" />


        <!-- Testimonials -->
        <div id="testimonies" class="py-8 px-4 mx-auto max-w-3xl md:py-16 md:px-6">
          <h2
              class="mb-4 text-4xl tracking-normal font-Title font-extrabold underline text-gray-900 dark:text-white"
            >
              Testimonies
          </h2>

          <div id="default-carousel" class="relative w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-96 overflow-hidden rounded-lg">
              <!-- Item 1 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <section class="">
                  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
                      <figure class="max-w-screen-md mx-auto">
                          <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
                          </svg> 
                          <blockquote>
                              <p class="text-2xl font-medium text-gray-900 dark:text-white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor posuere ac ut consequat semper viverra."</p>
                          </blockquote>
                          <figcaption class="flex items-center justify-center mt-6 space-x-3">
                              <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
                              <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                                  <div class="pr-3 font-medium text-gray-900 dark:text-white">Micheal Gough</div>
                                  <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">CEO Spring Academy</div>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
                </section>
              </div>
              <!-- Item 2 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <section class="">
                  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
                      <figure class="max-w-screen-md mx-auto">
                          <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
                          </svg> 
                          <blockquote>
                              <p class="text-2xl font-medium text-gray-900 dark:text-white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor posuere ac ut consequat semper viverra."</p>
                          </blockquote>
                          <figcaption class="flex items-center justify-center mt-6 space-x-3">
                              <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
                              <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                                  <div class="pr-3 font-medium text-gray-900 dark:text-white">Micheal Gough</div>
                                  <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">CEO Spring Academy</div>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
                </section>
              </div>
              <!-- Item 3 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <section class="">
                  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
                      <figure class="max-w-screen-md mx-auto">
                          <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
                          </svg> 
                          <blockquote>
                              <p class="text-2xl font-medium text-gray-900 dark:text-white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor posuere ac ut consequat semper viverra."</p>
                          </blockquote>
                          <figcaption class="flex items-center justify-center mt-6 space-x-3">
                              <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
                              <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                                  <div class="pr-3 font-medium text-gray-900 dark:text-white">Micheal Gough</div>
                                  <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">CEO Spring Academy</div>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
                </section>
              </div>
              <!-- Item 4 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <section class="">
                  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
                      <figure class="max-w-screen-md mx-auto">
                          <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
                          </svg> 
                          <blockquote>
                              <p class="text-2xl font-medium text-gray-900 dark:text-white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor posuere ac ut consequat semper viverra."</p>
                          </blockquote>
                          <figcaption class="flex items-center justify-center mt-6 space-x-3">
                              <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
                              <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                                  <div class="pr-3 font-medium text-gray-900 dark:text-white">Micheal Gough</div>
                                  <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">CEO Spring Academy</div>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
                </section>
              </div>
              <!-- Item 5 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <section class="">
                  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
                      <figure class="max-w-screen-md mx-auto">
                          <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
                          </svg> 
                          <blockquote>
                              <p class="text-2xl font-medium text-gray-900 dark:text-white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor posuere ac ut consequat semper viverra."</p>
                          </blockquote>
                          <figcaption class="flex items-center justify-center mt-6 space-x-3">
                              <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
                              <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                                  <div class="pr-3 font-medium text-gray-900 dark:text-white">Micheal Gough</div>
                                  <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">CEO Spring Academy</div>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
                </section>
              </div>
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
              <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
              <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
              <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
              <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
              <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
            </div>
            <!-- Slider controls -->
            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/70 dark:bg-gray-300/70 group-hover:bg-gray-900/50 dark:group-hover:bg-gray-400/50 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
              </span>
            </button>
            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/70 dark:bg-gray-300/70 group-hover:bg-gray-900/50 dark:group-hover:bg-gray-400/50 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                  <span class="sr-only">Next</span>
              </span>
            </button>
          </div>

        </div>

        <hr class="h-px max-w-3xl mx-auto my-4 bg-gray-300 border-0 dark:bg-gray-700" />

        <!-- Contact Me -->
        <section id="contact" class="mb-16">
          <!-- send me a message -->
          <div class="py-8 px-4 mx-auto max-w-3xl">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Send me a Message</h2>
            <p class="mb-8 lg:mb-16 font-light  text-gray-500 dark:text-gray-400 sm:text-xl">Got a message for me? Want to send feedback about a beta feature? Need details about our Business plan? Let me know. &darr;</p>
            <form action="#" class="space-y-8 max-w-xl">
              <div>
                <input type="text" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500 dark:shadow-sm-light" placeholder="Your name" required>
              </div>
              <div>
                <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500 dark:shadow-sm-light" placeholder="Your Email" required>
              </div>
              <div>
                <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500 dark:shadow-sm-light" placeholder="Subject" required>
              </div>
              <div class="sm:col-span-2">
                <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500" placeholder="Your Message" required></textarea>
              </div>
              <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-gray-700 sm:w-fit hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Send</button>
            </form>
          </div>

          <!-- Contact Info -->
          <div class="py-2 px-4 mx-auto max-w-3xl">
            <div class="flex space-x-6 items-center justify-center mx-auto md:justify-start">
              <!-- LinkedIn -->
              <a href="#" class="hover:text-gray-600">
                <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 15 15">
                  <path fill-rule="evenodd" d="M7.979 5v1.586a3.5 3.5 0 0 1 3.082-1.574C14.3 5.012 15 7.03 15 9.655V15h-3v-4.738c0-1.13-.229-2.584-1.995-2.584-1.713 0-2.005 1.23-2.005 2.5V15H5.009V5h2.97ZM3 2.487a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" clip-rule="evenodd"/>
                  <path d="M3 5.012H0V15h3V5.012Z"/>
                </svg>
                  
              </a>

              <!-- Facebook -->
              <a href="#" class="hover:text-gray-600">
                <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                  <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                </svg>
              </a>

              <!-- IG -->
              <a href="#" class="hover:text-gray-600">
                <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M11.999 7.377a4.623 4.623 0 1 0 0 9.248 4.623 4.623 0 0 0 0-9.248zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008z"></path><circle cx="16.806" cy="7.207" r="1.078"></circle><path d="M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.606 6.606 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.615 6.615 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.581 6.581 0 0 0-.421-2.217zm-1.218 9.532a5.043 5.043 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.985 4.985 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.96 4.96 0 0 1-1.669-.311 2.985 2.985 0 0 1-1.719-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.951-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.991 2.991 0 0 1 1.712 1.712 5.08 5.08 0 0 1 .311 1.669c.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011z"></path>
                </svg>
              </a>

              <!-- WhatsApp -->
              <a href="#" class="hover:text-gray-600">
                <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M18.403 5.633A8.919 8.919 0 0 0 12.053 3c-4.948 0-8.976 4.027-8.978 8.977 0 1.582.413 3.126 1.198 4.488L3 21.116l4.759-1.249a8.981 8.981 0 0 0 4.29 1.093h.004c4.947 0 8.975-4.027 8.977-8.977a8.926 8.926 0 0 0-2.627-6.35m-6.35 13.812h-.003a7.446 7.446 0 0 1-3.798-1.041l-.272-.162-2.824.741.753-2.753-.177-.282a7.448 7.448 0 0 1-1.141-3.971c.002-4.114 3.349-7.461 7.465-7.461a7.413 7.413 0 0 1 5.275 2.188 7.42 7.42 0 0 1 2.183 5.279c-.002 4.114-3.349 7.462-7.461 7.462m4.093-5.589c-.225-.113-1.327-.655-1.533-.73-.205-.075-.354-.112-.504.112s-.58.729-.711.879-.262.168-.486.056-.947-.349-1.804-1.113c-.667-.595-1.117-1.329-1.248-1.554s-.014-.346.099-.458c.101-.1.224-.262.336-.393.112-.131.149-.224.224-.374s.038-.281-.019-.393c-.056-.113-.505-1.217-.692-1.666-.181-.435-.366-.377-.504-.383a9.65 9.65 0 0 0-.429-.008.826.826 0 0 0-.599.28c-.206.225-.785.767-.785 1.871s.804 2.171.916 2.321c.112.15 1.582 2.415 3.832 3.387.536.231.954.369 1.279.473.537.171 1.026.146 1.413.089.431-.064 1.327-.542 1.514-1.066.187-.524.187-.973.131-1.067-.056-.094-.207-.151-.43-.263"></path>
                </svg>
              </a>

              <!-- X -->
              <a href="#" class="hover:text-gray-600">
                <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" d="M12.186 8.672 18.743.947h-2.927l-5.005 5.9-4.44-5.9H0l7.434 9.876-6.986 8.23h2.927l5.434-6.4 4.82 6.4H20L12.186 8.672Zm-2.267 2.671L8.544 9.515 3.2 2.42h2.2l4.312 5.719 1.375 1.828 5.731 7.613h-2.2l-4.699-6.237Z"/>
                </svg>
              </a>

              <!-- YouTube -->
              <a href="#" class="hover:text-gray-600">
                <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                  <path fill-rule="evenodd" d="M19.7 3.037a4.26 4.26 0 0 0-.789-1.964 2.84 2.84 0 0 0-1.984-.84c-2.767-.2-6.926-.2-6.926-.2s-4.157 0-6.928.2a2.836 2.836 0 0 0-1.983.84A4.225 4.225 0 0 0 .3 3.038a30.148 30.148 0 0 0-.2 3.206v1.5c.01 1.071.076 2.142.2 3.206.094.712.363 1.39.784 1.972.604.536 1.38.837 2.187.848 1.583.15 6.731.2 6.731.2s4.161 0 6.928-.2a2.844 2.844 0 0 0 1.985-.84 4.27 4.27 0 0 0 .787-1.965c.124-1.064.19-2.135.2-3.206V6.243a30.672 30.672 0 0 0-.202-3.206ZM8.008 9.59V3.97l5.4 2.819-5.4 2.8Z" clip-rule="evenodd"/>
                </svg>
              </a>

              <!-- Mail -->
              <a href="http://">
                <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path>
                </svg>
              </a>
            </div>
          </div>

        </section>

      </main>
    </div>
    <script src="/flowbite/dist/flowbite.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
